/* Importing components */
@import url("components/navbar.css");
@import url("components/gallery.css");
@import url("components/card.css");
@import url("components/cards.css");
@import url("components/utilities.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #F4F4F4;
  color: #000;
}


a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
