.categories_filter {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  margin-top: 36px;
  margin-bottom: 40px;
  letter-spacing: .3px;
  color: #00000070;
}

.categories_filter a {
  color: #00000070;
}

.categories_filter a:hover {
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  color: #000;
}
